/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/
.button {
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover {
      border: 1px $active-color solid;
      color: $active-color;
      cursor: pointer;
    }
  }
}
