/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/
@import "../../mixin.scss";
.forumPage {
  background: #536976;
  /* fallback for old browsers */

  background: -webkit-linear-gradient(to right, #292e49, #536976);
  /* Chrome 10-25, Safari 5.1-6 */

  background: linear-gradient(to right, #292e49, #536976);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &__modal {
    height: 90vh;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;

    &__favorite {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      &__text {
        margin-top: 2rem;
        margin-bottom: 1rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      &__icon {
        color: white;
        font-size: 1.5rem;
        margin-right: 5px;
        vertical-align: center;
      }

      &__item {
        border: 1px $border-color solid;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;

        &:hover {
          @include transition(0.3s);
          border: 1px white solid;
        }

        &-active {
          border: 1px $active-color solid;
          &:hover {
            @include transition(0.3s);
            border: 1px $active-color solid;
          }
        }
      }
    }
  }

  &__content {
    margin-left: 100px;
    height: 100vh;
    overflow-y: hidden;

    &__news {
      box-sizing: border-box;
      float: left;
      height: 100vh;
      width: calc(50vw - 100px);
      border-right: 1px white solid;

      &__search {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: calc(50vw - 100px);
        border-bottom: 1px white solid;

        &__first {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 10px;
          border-bottom: 1px $border-color solid;

          &__container {
            display: flex;
            flex-direction: row;
          }

          &__iconArea {
            padding-left: 5px;
            display: flex;
            justify-content: center;
            margin-right: 1rem;
            align-items: center;
            &__icon {
              color: white;
              font-size: 1.5rem;
            }
          }

          &__inputArea {
            display: flex;
            align-items: center;
            &__input {
              background-color: transparent;
              outline-width: 0 !important;
              color: white;
              border: 0;
              width: 23vw;
            }
          }
        }

        &__second {
          padding: 10px;

          &__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }

      &__lists {
        height: calc(100vh - 110px);
        margin-top: 110px;
        overflow-y: scroll;

        &-loading {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 55vh;
          color: white;
          font-size: 1rem;
          height: calc(100vh - 100px);
          margin-top: 100px;
        }

        &-nothing {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 1rem;
          height: calc(100vh - 100px);
        }

        &__footer {
          height: 12vh;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &__chart {
      color: white;
      height: 100vh;
      width: calc(50vw-100px);
      margin-right: 100px;
      overflow-y: scroll;

      &__loading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      &__intro {
        padding: 2rem 2rem 2rem 2rem;

        display: flex;
        flex-direction: column;
        &__logo {
          display: flex;
          flex-direction: row;
          align-items: center;
          &__text {
            margin-left: 1rem;
            font-size: 2rem;
          }
        }

        &__welcome {
          margin-top: 6%;
        }

        &__desc {
          margin-top: 6%;
        }

        &__post {
          height: 90vh;
          // border: 1px red solid;

          &__header {
            border-bottom: 1px $border-color solid;
            display: flex;
            height: 10vh;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 1rem;

            &__userInfo {
              display: flex;
              width: 15vw;
              flex-direction: row;
              align-items: center;

              &__thumb {
                flex: 1;
              }

              &__name {
                flex: 3;
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
              }

              &__point {
                font-size: 13px;
              }
            }

            &__detail {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: flex-end;
            }
          }

          &__title {
            margin-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: $border-color 1px solid;
            font-weight: 400;
          }

          &__body {
            margin-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: $border-color 1px solid;
            font-weight: 300;
          }

          &__footer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 1rem;
            padding-bottom: 1rem;

            &__icon {
              display: inline-flex;
              font-size: 1.5rem;
              margin-right: 1rem;
            }
          }
        }

        &__signUp {
          margin-top: 5%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          &__link {
            cursor: pointer;
          }
        }
      }
    }
  }
}
