/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/

@import "Colors";
@import "./Pages/index";
@import "./Components/index";
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";
@import url("https://fonts.googleapis.com/css?family=Biryani:700|Nanum+Gothic");
body {
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.7;
    font-size: 14px;
    font-weight: 300 !important;
    font-family: "Nanum Gothic", sans-serif;
    /* Firefox */
  }
  .app {
    background: #536976;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292e49, #536976);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292e49, #536976);
    height: 100vh;
  }
  .btn {
    font-weight: 300 !important;
  }
  .btn-group-sm > .btn,
  .btn-sm {
    padding: 5px 25px !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    color: white;
    margin-right: 1px;
    cursor: pointer;
    float: left;
    padding: 5px 13px !important;
    border-radius: 0 !important;
  }
  margin: 0 auto;
  a:hover {
    text-decoration: none;
  }
  p {
    margin: 0;
  }
  hr {
    background-color: white;
  }
  font-weight: 300;

  .cTypeTabActive {
    background: $sub-color !important;
    font-weight: 300;
  }
  .chartTypeTabLinks {
    background: transparent;
    font-weight: 300 !important;
  }
  text {
    fill: white;
  }
  .ccc-widget {
    > div {
      background-color: transparent !important;
      color: white !important;
      border: 0 !important;
      border-top: 0 !important;
      font-weight: 300 !important;
      padding: 10px !important;
    }
  }
  .cccCustomRadioContainer {
    > label {
      color: white !important;
    }
  }
  .tabperiods {
    background: transparent !important;
    font-weight: 300 !important;
  }
  .active {
    border-color: $active-color !important;
  }
  .tabperiods_active {
    font-weight: 900 !important;
    color: $active-color !important;
  }
  .chartTypeTabLinks:hover {
    background: $sub-color;
  }
  .modal-content {
    font-weight: 300 !important;
    border-radius: 0px !important;
    background: #536976;
    margin: 0 !important;
    color: white;
    padding: 0 !important;
    /* fallback for old browsers */

    background: -webkit-linear-gradient(to bottom, #292e49, #536976);
    /* Chrome 10-25, Safari 5.1-6 */

    background: linear-gradient(to bottom, #292e49, #536976);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .modal-backdrop.show {
    opacity: 0.1 !important;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: white !important;
    text-align: left;
    list-style: none;
    background-color: $main-color !important;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px !important;
  }
  .dropdown-item {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: white !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    &:hover {
      background-color: transparent !important;
    }
  }
  .chartTypeTabLinks {
    font-size: 13px !important;
    color: rgb(255, 255, 255);
    margin-right: 1px;
    font-weight: 600;
    cursor: pointer;
    float: left;
    padding: 5px 25px;
    background: transparent;
  }
  .image-gallery-left-nav,
  .image-gallery-right-nav {
    color: #fff;
    font-size: 2em;
    padding: 50px 15px;
    top: 50%;
    transform: translateY(-50%);
    &:focus {
      outline-style: none;
    }
  }
  .image-gallery-fullscreen-button::before,
  .image-gallery-play-button::before {
    font-size: 2em !important;
    padding: 15px 20px;
    text-shadow: 0 1px 1px #1a1a1a;
  }
  .image-gallery-fullscreen-button::after,
  .image-gallery-play-button::after {
    &:focus {
      outline: none !important;
    }
  }
}
